<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="tabletypec3-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `tabletypec3-element`
     * &#39;Tabla de 3 columnas&#39;
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class Tabletypec3Element extends Polymer.Element {
      static get is() { return 'tabletypec3-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'tabletypec3-element'
          }
        };
      }
    }

    window.customElements.define(Tabletypec3Element.is, Tabletypec3Element);
  </script>
</dom-module>
