<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="tabletypec3-element">
  <template>
    <style>
      :host {
        display: block;
        margin: 0;
      }
      article{
      display: flex;
      justify-content: center;
    }
      section{
        width: 90%;
        /*margin: 20px 0;*/
      }
      table{
        border-collapse: collapse;
        background-color: rgba(254, 239,172,.5);
        text-align: center;
        border-spacing: 0;
        width: 100%;
        font-size: 18px;
      }
      table, th, td{
        border: 1px solid #FFE065;
      }
      thead{
        background-color: #FFE065;
        font-size: 22px;
      }
      td, th{
      height: 20px;
      padding: 10px;
      }
      tr:hover{
      background-color: rgba(254, 239,172,.6);
      }

  </style>
</head>
<body>
<article>
<section>
    <table>
      <thead>
        <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Amount</th>
        </tr>
      </thead>

      <tbody>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
      </tbody>
    </table>
</section>
</article>
  </template>

  <script>
    /**
     * `tabletypec3-element`
     * &#39;Tabla de 3 columnas&#39;
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class Tabletypec3Element extends Polymer.Element {
      static get is() { return 'tabletypec3-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'tabletypec3-element'
          }
        };
      }
    }

    window.customElements.define(Tabletypec3Element.is, Tabletypec3Element);
  </script>
</dom-module>
